client_secrets.json
youtube_token.pickle
*.pickle
won_games.json
videos/
scripts/
sounds/track.aac
sounds/longform_bg.mp3
sounds/longform_track.aac
sounds/longform_track.wav
monthly_wins.json
longform/
__pycache__/
*.pyc
.env
videos/
scripts/
won_games.json
client_secrets.json
youtube_token.pickle
*.pyc
.DS_Store
youtube_token.json
