client_secrets.json
youtube_token.pickle
*.pickle
won_games.json
videos/
scripts/
sounds/track.aac
__pycache__/
*.pyc
.env
videos/
scripts/
won_games.json
client_secrets.json
youtube_token.pickle
*.pyc
.DS_Store
youtube_token.json
